@media screen and (max-width: 1200px){


@media screen and (max-width: 992px){

}
@media screen and (max-width: 992px){
.MyJob{
  width: 35px;
  height: 35px;
  left: 61%;
  top: 30%;
  font-size: 0.3em;

}
.MyProgress{
  width: 30px;
  height: 30px;
  font-size: 0.1em;
  left: 26.25%;
  top: 39%;


}
.MyProgress p{
  padding-top: 5px;
}
.Home{
  width: 50px;
  height: 50px;
  font-size: 0.5em;
  
}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 320px){


}